/* normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

/* line 22, normalize.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

/* line 32, normalize.scss */

audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

/* line 41, normalize.scss */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

/* line 52, normalize.scss */

[hidden],
template {
  display: none;
}

/* line 56, normalize.scss */

script {
  display: none !important;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/* line 70, normalize.scss */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

/* line 80, normalize.scss */

body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

/* line 92, normalize.scss */

a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

/* line 100, normalize.scss */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

/* line 109, normalize.scss */

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

/* line 122, normalize.scss */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

/* line 131, normalize.scss */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

/* line 140, normalize.scss */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

/* line 148, normalize.scss */

dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

/* line 156, normalize.scss */

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

/* line 166, normalize.scss */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

/* line 178, normalize.scss */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

/* line 187, normalize.scss */

pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

/* line 195, normalize.scss */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

/* line 203, normalize.scss */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

/* line 212, normalize.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 219, normalize.scss */

sup {
  top: -0.5em;
}

/* line 223, normalize.scss */

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

/* line 235, normalize.scss */

img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

/* line 243, normalize.scss */

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

/* line 255, normalize.scss */

figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

/* line 267, normalize.scss */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

/* line 278, normalize.scss */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

/* line 292, normalize.scss */

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

/* line 304, normalize.scss */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

/* line 316, normalize.scss */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

/* line 331, normalize.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

/* line 341, normalize.scss */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

/* line 351, normalize.scss */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

/* line 362, normalize.scss */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

/* line 375, normalize.scss */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

/* line 384, normalize.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

/* line 394, normalize.scss */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

/* line 407, normalize.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, style.scss */

body {
  line-height: 1.3em;
  font-family: 'Arial';
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 10, style.scss */

body.noscroll {
  overflow: hidden;
}

/* line 19, style.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

/* line 30, style.scss */

small {
  font-family: 'Signika Negative', sans-serif;
  font-size: 15px;
  line-height: 1.2em;
  display: block;
}

/* line 37, style.scss */

small ~ h2 {
  color: green;
  margin: 0px;
}

/* line 42, style.scss */

h1 {
  font-size: 2.5em;
}

/* line 46, style.scss */

h1:after {
  content: "";
  background: black;
  width: 70px;
  height: 1px;
  bottom: 232px;
  display: block;
  left: 2px;
  position: relative;
  top: 6px;
}

/* line 58, style.scss */

h2 {
  font-size: 1.6875em;
  margin-top: 0.4em;
}

/* line 63, style.scss */

h3 {
  font-size: 1.375em;
}

/* line 67, style.scss */

h4 {
  font-size: 1.125em;
}

/* line 71, style.scss */

h5 {
  font-size: 1.125em;
}

/* line 75, style.scss */

h6 {
  font-size: 1em;
}

/* line 79, style.scss */

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* line 87, style.scss */

.container {
  width: 809px;
  background: #222;
  height: 1080px;
  overflow: hidden;
}

/* line 94, style.scss */

.box {
  height: 217px;
  position: relative;
  overflow: hidden;
}

/* line 99, style.scss */

.box:hover .grid-pane-drawer {
  bottom: 0px;
}

/* line 102, style.scss */

.box:hover .grid-pane-drawer h2 {
  margin-top: 0px;
}

/* line 108, style.scss */

.box:hover .grid-pane-drawer .grid-pane-body {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* line 114, style.scss */

#grid {
  width: inherit;
  position: relative;
}

/* line 119, style.scss */

.grid:first-child {
  clear: both;
}

/* line 123, style.scss */

.column_1 {
  left: 0;
  position: absolute;
}

/* line 128, style.scss */

.column_2 {
  left: 270px;
  position: absolute;
}

/* line 133, style.scss */

.column_3 {
  left: 540px;
  position: absolute;
}

/* line 138, style.scss */

.row {
  position: absolute;
  width: inherit;
}

/* line 143, style.scss */

.row_1 {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 149, style.scss */

.row_2 {
  position: absolute;
  top: 217px;
}

/* line 154, style.scss */

.row_3 {
  position: absolute;
  top: 434px;
}

/* line 159, style.scss */

.float_left {
  float: left;
}

/* line 163, style.scss */

.float_right {
  float: right;
}

/* line 167, style.scss */

.center_text {
  text-align: center;
}

/* line 171, style.scss */

.grid-pane {
  background: url("../images/transparant_grey.png");
  position: absolute;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;
  color: #fff;
  height: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
}

/* line 181, style.scss */

.grid-pane h2 {
  color: #fff;
}

/* line 187, style.scss */

.grid-pane-drawer {
  bottom: -150px;
  width: 100%;
  height: inherit;
}

/* line 192, style.scss */

.grid-pane-drawer .grid-pane-body {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 200, style.scss */

.grid-button {
  position: absolute;
  bottom: 14px;
  text-align: center;
  width: 100%;
  left: 0;
}

/* line 208, style.scss */

.box_1 {
  width: 270px;
}

/* line 212, style.scss */

.box_2 {
  width: 540px;
}

/* line 216, style.scss */

.box_3 {
  width: 100%;
}

/* line 220, style.scss */

.box_high {
  height: 434px;
}

/* line 224, style.scss */

.box_2 {
  width: 540px;
}

/* line 226, style.scss */

.box_2 .grid-pane-left {
  width: 50%;
}

/* line 232, style.scss */

.box_high .grid-pane-left {
  height: 50%;
}

/* line 238, style.scss */

.box_high .grid-pane {
  height: 50%;
}

/* line 243, style.scss */

.box_2 {
  width: 540px;
}

/* line 245, style.scss */

.box_2 .grid-pane-right {
  width: 50%;
  left: 50%;
}

/* line 251, style.scss */

.grid-pane-bottom {
  top: 50%;
}

/* line 255, style.scss */

.button {
  font-size: 15px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-decoration: none;
  min-width: 140px;
}

/* line 266, style.scss */

.button.purple {
  background: #5e2069;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
}

/* line 272, style.scss */

.button.orange {
  background: #ef7f1a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  min-width: 140px;
}

/* line 279, style.scss */

.menu {
  width: 809px;
  height: 43px;
  position: relative;
  background: url("../images/menu/menu_bar.jpg");
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 99;
}

/* line 288, style.scss */

.menu_logo {
  width: 184px;
  height: 43px;
  background: url("../images/menu/menu_logo.png") no-repeat scroll center center;
  display: block;
  position: absolute;
}

/* line 296, style.scss */

.menu-items {
  position: absolute;
  right: 0;
  height: inherit;
  margin: 0;
}

/* line 303, style.scss */

.menu-item {
  float: left;
  height: inherit;
  list-style: none;
  margin: 0;
  text-align: center;
  display: table;
}

/* line 312, style.scss */

.menu-item-link {
  vertical-align: middle;
  display: table-cell;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 120px;
  color: #000;
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 13px;
}

/* line 322, style.scss */

.menu-item-link:hover {
  -webkit-box-shadow: 0 -2px  #800080 inset;
  -moz-box-shadow: 0 -2px  #800080 inset;
  box-shadow: 0 -2px  #800080 inset;
}

/* line 326, style.scss */

.menu-item-link.active {
  -webkit-box-shadow: 0 -2px  #800080 inset;
  -moz-box-shadow: 0 -2px  #800080 inset;
  box-shadow: 0 -2px  #800080 inset;
}

/* line 331, style.scss */

.menu-item-home {
  background: url("../images/menu/home_button.jpg");
  width: 43px;
  height: 43px;
  display: block;
}

/* line 338, style.scss */

.intro-wrapper {
  height: 368px;
  background: grey;
  position: relative;
}

/* line 348, style.scss */

.intro {
  width: 270px;
  height: 314px;
  background: url("../images/intro_bg.jpg");
  position: absolute;
  top: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
}

/* line 357, style.scss */

.intro .button {
  text-align: center;
}

/* line 366, style.scss */

.intro-button {
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 0;
  width: inherit;
}

/* line 374, style.scss */

.likegate {
  background: url("../images/likegate.png");
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;
}