@import "normalize";

body {
  line-height: 1.3em;
  font-family: 'Arial';
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
}

body.noscroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: lighter;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

small {
  font-family: 'Signika Negative', sans-serif;
  font-size: 15px;
  line-height: 1.2em;
  display: block;
}

small ~ h2 {
  color: green;
  margin: 0px;
}

h1 {
  font-size: 2.5em;
}

h1:after {
  content:"";
  background:black;
  width: 70px;
  height: 1px;
  bottom: 232px;
  display: block;
  left: 2px;
  position: relative;
  top: 6px;
}

h2 {
  font-size: 1.6875em;
  margin-top: 0.4em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

.container {
  width: 809px;
  background: #222;
  height: 1080px;
  overflow: hidden;
}

.box {
  height: 217px;
  position: relative;
  overflow: hidden;

  &:hover .grid-pane-drawer {
    bottom: 0px;

    h2 {
      margin-top: 0px;
    }

  }

  &:hover .grid-pane-drawer .grid-pane-body {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

#grid {
  width: inherit;
  position: relative;
}

.grid:first-child {
  clear: both;
}

.column_1 {
  left: 0;
  position: absolute;
}

.column_2 {
  left: 270px;
  position: absolute;
}

.column_3 {
  left: 540px;
  position: absolute;
}

.row {
  position: absolute;
  width: inherit;
}

.row_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.row_2 {
  position: absolute;
  top: 217px;
}

.row_3 {
  position: absolute;
  top: 434px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.center_text {
  text-align: center;
}

.grid-pane {
  background: url("../images/transparant_grey.png");
  position: absolute;
  transition: bottom 0.5s;
  color: #fff;
  height: inherit;
  box-sizing: border-box;
  padding: 14px;


  h2 {
    color: #fff;
  }

}

.grid-pane-drawer {
  bottom: -150px;
  width: 100%;
  height: inherit;

  .grid-pane-body {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity 0.2s
  }

}

.grid-button {
  position: absolute;
  bottom: 14px;
  text-align: center;
  width: 100%;
  left: 0;
}

.box_1 {
  width: 270px;
}

.box_2 {
  width: 540px;
}

.box_3 {
  width: 100%;
}

.box_high {
  height: 434px;
}

.box_2 {
  width: 540px;
  .grid-pane-left {
    width: 50%;
  }
}

.box_high {
  .grid-pane-left {
    height: 50%;
  }
}

.box_high {
  .grid-pane {
    height: 50%;
  }
}

.box_2 {
  width: 540px;
  .grid-pane-right {
    width: 50%;
    left: 50%;
  }
}

.grid-pane-bottom {
  top: 50%;
}

.button {
  font-size: 15px;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-decoration: none;
  min-width: 140px;
}

.button.purple {
  background: #5e2069;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
}

.button.orange {
  background: #ef7f1a;
  border-radius: 4px;
  padding: 10px;
  min-width: 140px;
}

.menu {
  width: 809px;
  height: 43px;
  position: relative;
  background: url('../images/menu/menu_bar.jpg');
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.menu_logo {
  width: 184px;
  height: 43px;
  background: url("../images/menu/menu_logo.png") no-repeat scroll center center;
  display: block;
  position: absolute;
}

.menu-items {
  position: absolute;
  right: 0;
  height: inherit;
  margin: 0;
}

.menu-item {
  float: left;
  height: inherit;
  list-style: none;
  margin: 0;
  text-align: center;
  display: table;
}

.menu-item-link {
  vertical-align: middle;
  display: table-cell;
  box-shadow: none;
  width: 120px;
  color: #000;
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 13px;

  &:hover {
    box-shadow: 0 -2px  #800080 inset;
  }

  &.active {
    box-shadow: 0 -2px  #800080 inset;
  }
}

.menu-item-home {
  background: url("../images/menu/home_button.jpg");
  width: 43px;
  height: 43px;
  display: block;
}

.intro-wrapper {
  height: 368px;
  background: grey;
  position: relative;

  &#home {

  }
}

.intro {
  width: 270px;
  height: 314px;
  background: url("../images/intro_bg.jpg");
  position: absolute;
  top: 36px;
  box-sizing: border-box;
  padding: 14px;

  .button {
    text-align: center;
  }
}

.intro-body {

}

.intro-button {
  text-align: center;
  position: absolute;
  bottom: 14px;
  left: 0;
  width: inherit;
}

.likegate {
  background: url("../images/likegate.png");
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;
}